<%= form_for(:session, url: login_path) do |f|  %>

    <%= f.label :email %>
    <%= f.email_field :email %><br />
    <%= f.label :password %>
    <%= f.password_field :password %><br />

    <%= f.submit "Log in" %>

<% end %>
<div>
    New User? <%= link_to "Create New Account", new_user_path %>
</div>
