<div class="login">
  <div class="login-header">
    <h2>Frugal-Login</h2>
  </div>
	<%= form_for(:session, url: login_path) do |f|  %>
  	<%= f.label :email, class: 'input' %>
  	<%= f.email_field :email, class: 'input' %>
  	<%= f.label :password, class: 'input' %>
  	<%= f.password_field :password, class: 'input' %>
  <div style="padding:25px;">
    <%= f.submit "Log in", class: 'input-button' %>
	<% end %>
  <%= button_to 'Create New Account', new_user_path, :class => 'button', :method => 'get', :class => 'input-button', :style => "width: 175px;"%>
  </div>
</div>
