<div class="container" style="margin-top: -400px;">
    <%= form_for :budget, url: budget_path(@budget), method: :patch do |f| %>
        <h1 style="color:black;">Editing Budget</h1>
      <% if @budget.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@budget.errors.count, "error") %> prohibited
            this budget from being saved:
          </h2>
          <ul>
            <% @budget.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <p>
          <%= f.label :total_amount, :style => 'font-size: 20px; margin-left: 240px;' %><br>
          <%= f.number_field :total_amount, :style => 'color:#4CAF50;  border: 1px solid #aaa;', :disabled => true %>
        </p>

        <p>
          <%= f.label :current_amount, :style => 'font-size: 20px; margin-left: 240px;' %><br>
          <%= f.number_field :current_amount, :style => 'color:#4CAF50; border: 1px solid #aaa;', :step => 0.01%>
        </p>
      </div>
      <div>
            <%= f.submit :style => "background: #4CAF50;" %>
        <% end %>
        <div style="padding-bottom: 5px; padding-top:5px;">
          <%= button_to "Delete Budget", @budget, :method => :delete, :style => "background-color: #4CAF50;" %>
        </div>
        <%= button_to 'Back', budgets_path,  :method => 'get', :style => "background-color: #4CAF50;"%>
      </div>

</div>
