<div class="new-user">
  <div class="user-header">
    <h2>Create Account</h2>
  </div>
	<%= form_for(@user) do |f| %>

			<%= f.label :username, class: 'input' %>
<%= f.text_field :username, class: 'input' %>


				<%= f.label :email, class: 'input' %>
				<%= f.text_field :email, class: 'input' %>


				<%= f.label :password, class: 'input' %>
				<%= f.password_field :password, class: 'input' %>


		    <%= f.label :password_confirmation, "Confirmation", class: 'input' %>
   			<%= f.password_field :password_confirmation, class: 'input' %>
        <div style="padding:25px;"><%= f.submit "Create Account", class: 'input-button' %></div>

	<% end %>
</div>
