

    <div class="wrapper">
    <div class="container" style="margin-top: -200px;">

	<%= form_for(@user, class: 'form') do |f| %>
	<% if flash[:notice] %>
    <div style="text-align:center;">
      <p style="color: black; background-color:red; width:auto%;font-size:25px;"><%= flash[:notice] %></p>
    </div>
  <% else %>
    <p></p>
	<% end %>

      <%= f.text_field :username, class: 'input', :style => "color: #4CAF50;border: 1px solid #aaa;", placeholder: 'Username' %>

				<%= f.text_field :email, class: 'input', :style => "color: #4CAF50;border: 1px solid #aaa;", placeholder: 'Email' %>

				<%= f.password_field :password, class: 'input', :style => "color: #4CAF50;border: 1px solid #aaa;", placeholder: 'Password' %>

   			<%= f.password_field :password_confirmation, class: 'input', :style => "color: #4CAF50;border: 1px solid #aaa;", placeholder: 'Confirm Password' %>
    <%= f.submit "Create Account", :style => "background: #4CAF50;"%>
	<% end %>
</div>
</div>
