

<div class="container" style="margin-top: -400px;">

<%= form_for :item, :style => '
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);', url: item_path(@item), method: :patch do |f| %>
<h1 style="color:black;"> Edit Item</h1>
<% if @item.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@item.errors.count, "error") %> prohibited
      this item from being saved:
    </h2>
    <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <%= f.label :name, :style => 'font-size: 20px; margin-left: 270px;' %><br>
  <%= f.text_field :name, :style => "color: #4CAF50;border: 1px solid #aaa;" %>



  <%= f.label :price, :style => 'font-size: 20px;margin-left: 270px;' %><br>
  <%= f.number_field :price, :style => "color: #4CAF50;border: 1px solid #aaa;", :step => 0.01%>


<%= f.collection_select :category_id, current_user.categories, :id, :name %>


  <%= f.hidden_field :user_id, :value => current_user.id %>
<div>
  <%= f.submit :style => "background: #4CAF50;"%>
  <% end %>
      <% if Purchase.select{ |p| p.item_id == @item.id }.length < 1 %>
        <%= button_to "Delete Item", @item, :method => :delete, :style => "background: #4CAF50;" %>
      <% end %>
  <%= button_to 'Back', items_path, :method => 'get', :style => "background: #4CAF50;"%>
</div>
