<div style="margin: 0 auto; width: 50%; background-color: white;">
  <div style="margin: 0 auto; width: 50%;">
    <%= form_for :item, url: item_path(@item), method: :patch do |f| %>
    <div class="item-header">
      <h3>Editing Item</h3>
    </div>
    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@item.errors.count, "error") %> prohibited
          this item from being saved:
        </h2>
        <ul>
          <% @item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :price %><br>
      <%= f.number_field :price %>
    </p>
    <p>
      <%= f.select :category_id, options_for_select(Category.all.map{|c|[c.name, c.id]})%>
    </p>

    <div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit :class => 'button', :class => 'input-button', :id => 'create-button'%>
      <% end %>
      <div style="padding-bottom: 5px;padding-top: 5px;">
        <%= button_to "Delete Item", @item, :method => :delete, :class => 'input-button', :id => 'create-button' %>
      </div>
      <%= button_to 'Back', items_path, :class => 'button', :method => 'get', :class => 'input-button', :id => 'create-button'%>
      </div>
    </div>
</div>
