<!-- Notification Code -->
<div class="item-header">
		<h1> Items </h1>
</div>
<% if current_user %>
<div class="item-table">
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Category</th>
                <th>Actions</th>
              <% @items.each do |item| %>
                <% if item.user_id == @current_user.id %>
                <tr>
									<td><%= item.name %></td>
									<td><%= item.price %></td>
									<td><%= Category.all.select{|c| c.id==item.category_id}.first.name %></td>
									<td id="button-column">
										<div style="display: block;">
											<div style="display: inline-block;">
												<form action="/purchase_item" method="post">
													<input type="hidden" name="item_id" value="<%= item.id %>">
													<input type="submit" value="purchase" class="item-buttons">
												</form>
											</div>
										<div style="display: inline-block;"><%= button_to 'Edit', edit_item_path(item), :class => 'button', :method => 'get',  :class => "item-buttons"%></div>
										</div>
	                </td>
                </tr>
                <% end %>
              <% end %>
            </tr>
						<tr><td colspan="4"><%= button_to "Create Item", new_item_path, :method => "get", class: 'input-button', :id => 'create-button' %></td></tr>
        </table>

    </div>
<% end %>
