


<div class="container" style="margin-top: -400px;">

  <!-- <form id="contact" action="" method="post"> -->
		<%= form_for(@item) do |f|%>
			<h3>New Item</h3>
		   <fieldset>
			<%= f.text_field :name, placeholder: 'Item Name', :style => '  border: 1px solid #aaa;' %>
		</fieldset>
			   <fieldset>
			<%= f.number_field :price, placeholder: 'Item Price', :style => '  border: 1px solid #aaa;' %>
   </fieldset>
			   <fieldset>
			<%= f.select :category_id, options_for_select(Category.all.map{|c|[c.name, c.id]})%>
		</fieldset>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.submit :style => "background: #4CAF50;" %>

		<% end %>
  <!-- </form> -->
</div>
