Creating new Item

<div class="new-item">
	<div class="item-header">
		<h3>New Item</h3>
	</div>
<%= form_for(@item) do |f|%>
	<%= f.label :name, class: 'input' %><br>
	<%= f.text_field :name, class: 'input' %><br>
	<%= f.label :price, class: 'input' %><br>
	<%= f.number_field :price, class: 'input' %><br>
	<%= f.select :category_id, options_for_select(Category.all.map{|c|[c.name, c.id]})%><br>
    <%= f.hidden_field :user_id, :value => current_user.id %>
	<%= link_to "New Category", new_category_url, class: 'input'%><br>
	<%= f.submit class: 'input-button' %>
<% end %>
</div>
