<div style="margin: 0 auto; width: 50%; background-color: white;">
  <div style="margin: 0 auto; width: 50%;">
    <%= form_for :category, url: category_path(@category), method: :patch do |f| %>
      <div class="item-header">
        <h1>Editing Category</h1>
      </div>
      <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@category.errors.count, "error") %> prohibited
            this budget from being saved:
          </h2>
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <p>
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </p>
      <div style="text-align: center;">
        <p>
          <%= f.submit :class => 'input-button', :id => 'create-button' %>
        </p>
        <% end %>
        <div style="padding-bottom: 5px;">
          <%= button_to "Delete Category", @category, :method => :delete, :class => 'input-button', :id => 'create-button' %>
        </div>
        <%= button_to 'Back', categories_path, :class => 'button', :method => 'get', :class => 'input-button', :id => 'create-button'%>
      </div>

  </div>
</div>
