Creating new Category
<div class="new-category">
  <div class="category-header">
    <h3>New Item</h3>
  </div>
<%= form_for(@category) do |f| %>
    <%= f.label :name, class: 'input'  %>
    <%= f.text_field :name, class: 'input' %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Submit", class: 'input-button' %>
<% end %>
</div>
