<div class="container" style="margin-top: -400px;">
  <%= form_for(@category) do |f| %>
      <%= f.label :name, class: 'input', :style => 'font-size: 20px; margin-left: 250px;'  %>
      <%= f.text_field :name, class: 'input', :style => "color: #4CAF50;border: 1px solid #aaa;" %>
      <%= f.hidden_field :user_id, :value => current_user.id %>

        <%= f.submit "Submit", :style => "background: #4CAF50;" %>

  <% end %>
</div>
