<div class="new-category">
  <div class="category-header">
    <h3>New Category</h3>
  </div>
<div style="padding: 1px;">
  <%= form_for(@category) do |f| %>
      <%= f.label :name, class: 'input'  %>
      <%= f.text_field :name, class: 'input' %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div style="padding:5px;">
        <%= f.submit "Submit", class: 'input-button' %>
      </div>
  <% end %>
</div>
</div>
