<!DOCTYPE html>
<html>
  <head>
    <title>Frugal</title>
    <%= csrf_meta_tags %>
		<link rel="stylesheet" type="text/css"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="logo"><%= link_to image_tag("logo.png", :alt => "empty", :width => 98, :height =>98), login_path %></div>
  	<table id="menu">
  		<tr><td>
  			<div id="cont">
	   			<ul>
	   				<li><%= link_to 'Items', items_path, :id=>"headlink" %></li>
		     		<li><%= link_to 'Categories	', categories_path, :id=>"headlink"%></li>
		     		<li><%= link_to 'Budget', budgets_path, :id=>"headlink"%></li>
		     		<li><%= link_to 'Purchases', purchases_path, :id=>"headlink"%></li>
		        <% if current_user %>
    		      <li><%= render 'shared/header',:id=>"headlink" %></li>
       		 <% end %>
           <% if not current_user %>
  				 	<li><%= link_to 'Login', login_path, :id=>"headlink"%></li>
           <% end %>
		   	  </ul>
  			</div>
  		</td></tr>
  	</table>
    <div class="content">
      <% flash.each do |key, value| %>
      <div class="flash_message">
	      <%= key %>, <%= value %>
	       <% end %>
	      <%= yield %>
      </div>
  </body>
</html>
